.social {
    display: flex;
    gap: 8px;

    margin-top: 24px;
}

.social__link {
    width: 46px;
    height: 46px;

    border-radius: 4px;
    background: var(--background-body);

    color: var(--background-card);

    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;
}

.social__link i {
    font-size: 22px;
}

.social__link:hover {
    color: #FFF;
    background: var(--background-cardproject);
    transform: translateY(-12px);
}